<!-- Copyright (c) Microsoft Corporation. All rights reserved. Licensed under the MIT license. -->
<!-- See LICENSE in the project root for license information. -->

<%= content_for :title, 'About Me - EDUGraphAPI' %>

<% content_for :user_login_info do %>
	<%= render 'common/user_login_info' %>
<% end %>

<% content_for :header_list do %>
  <%= render 'common/header_list' %>
<% end %>

<% if flash[:notice] %>
  <div class="message-container bg-success">
      <p><%= flash[:notice] %></p>
  </div>
<% end %>

<div class="container ">
    <h2>About Me</h2>
    <div class="margin-top-12 margin-btm-12 aboutme">
        <b>Username:</b><br /> <%= current_user.display_name %> 
        <% if current_user.are_linked? or current_user.is_o365? %>
        <img src='/users/<%= current_user.o365_user_id %>/photo'/>
        <% end %>
    </div>
    <div class="margin-top-12 margin-btm-12">
        <b>Logged in as:</b><br /> <%= current_user.main_role %>
    </div>
    <% if current_user.local_user %>
    <div class="margin-btm-12">
        <b>Favorite Color:</b>
	    <form action="/manage/update_favorite_color" method="post">
            <input type="hidden" value="<%= current_user.user_id %>" name="user_id">
            <select name="favoritecolor">
                <option value="#2F19FF" <%= 'selected' if @favorite_color == '#2F19FF' %>>Blue</option>
                <option value="#127605" <%= 'selected' if @favorite_color == '#127605' %>>Green</option>
                <option value="#535353" <%= 'selected' if @favorite_color == '#535353' %>>Grey</option>
                </select>
            <input type="submit" value="Save" />
	   </form>
    </div>
    <% end %>
    <% if @classes %>
    <div class="margin-btm-12 ">
        <b>Classes:</b>
        <br />
        <div>
            <% @classes.each do | c | %>
				<%= c.display_name %> <br />
            <% end %>
        </div>
    </div>
    <% end %>
</div>

