<!-- Copyright (c) Microsoft Corporation. All rights reserved. Licensed under the MIT license. -->
<!-- See LICENSE in the project root for license information. -->

<%= content_for :title, 'CLASSES - EDUGraphAPI' %>

<% content_for :header_list do %>
  <%= render 'common/header_list', school: @school %>
<% end %>

<% content_for :user_login_info do %>
    <%= render 'common/user_login_info'  %>
<% end %>

<div class="row schools sections">
    <div class="tophero">
        <div class="col-md-8">
            <div class="secondnav">
                <a href="/schools"> All Schools</a> > <%= @school.display_name %>
            </div>
            <div class="a-heading">Classes</div>
        </div>
        <div class="toptiles">
            <div class="section-school-name"><%= @school.display_name %></div>
            <div class="infocontainer">
                <div class="infoheader">PRINCIPAL</div>
                <div class="infobody" title="">
                    <%if @school.principal_name%>
                    <%= @school.principal_name %>
                    <% else %>
                     - 
                    <% end %>
                </div>
            </div>
            <div class="infocontainer">
                <div class="infoheader">Grade levels</div>
                <div class="infobody">
                    <%= @school.lowest_grade %> - <%= @school.highest_grade %>
                </div>
            </div>
        </div>
        <div>
            <div class="col-md-4 usericon">
                <div class="icon"></div>
                <% if current_user.is_student? %>
                    <div>Not Enrolled</div>
                <% else %>
                    <div>Not Teaching</div>
                <% end %>
                <div class="icon my-class"></div><div>My Class</div>
            </div>
            <div class="col-md-3 filterlink-container">
                <div class="search-container "></div>
                <span>FILTER:</span> <a id="filtermyclasses" class="filterlink selected" data-type="myclasses">My Classes</a> | <a id="filterclasses" class="filterlink " data-type="allclasses">All Classes</a>
            </div>
        </div>
        <br style="clear:both;" />
    </div>
    <div class="myclasses-container tiles-root-container">
        <div id="allclasses" class="tiles-secondary-container">
            <div class="section-tiles">
                <div class="content clearfix" id="class_content">
                    <% if @classes.value.empty? %>
                        <div class="nodata"> No classes in this school.</div>
                    <% end %>
                    <% @classes.value.each_with_index do |c, index| %>
                    <div class="tile-container <%= 'hidden_course' if index > 11 %>" id="course_<%= index %>">
                        <% if c.custom_data[:is_my] %>
                        <a class="mysectionlink" href="/schools/<%= @school.object_id %>/classes/<%= c.object_id %>">
                            <div class="tile">
                                <h5><%= c.display_name %></h5>
                                <h2><%= c.combined_course_number %></h2>
                            </div>
                        </a>
                        <% else %>
                        <div class="tile">
                            <h5><%= c.display_name %></h5>                         
                            <h2><%= c.combined_course_number %></h2>
                        </div>
                        <% end %>
                        <div class="detail">
                            <h5>Course Id:</h5>
                            <h6><%= c.course_id %></h6>
                            <h5>Description:</h5>
                            <h6><%= c.course_description %></h6>
                            <h5>Teachers:</h5>
                            <h6></h6>
                            <h5>Term Name:</h5>
                            <h6><%= c.term_name %></h6>
                            <h5>Start/Finish Date:</h5>
                            <h6>
                                <span id="termdate"><%= Date.strptime(c.term_start_date, '%m/%d/%Y').to_s rescue '' %></span>
                                <span> - </span>
                                <span id="termdate"><%= Date.strptime(c.term_end_date, '%m/%d/%Y').to_s rescue '' %></span>
                            </h6>
                            <h5>Period:</h5>
                            <h6><%= c.period %></h6>
                        </div>
                    </div>
                    <% end %>      
                </div>
                <% if @classes.next_link %>
                <!-- <div class="seemore" id="see-more" data-index=12 data-count=''> -->
                <div class="seemore" id="see-more" data-school-object-id="<%= @school.object_id %>" data-school-id="<%= @school.school_id %>" data-skip-token="<%= @classes.next_link.skip_token %>" data-school-number="<%= @school.number %>">
                    <span>See More</span>
                </div>
                <% end %>
            </div>
        </div>
        <div id="myclasses" class="tiles-secondary-container">
            <div class="section-tiles">
                <div class="content clearfix">
                    <% if @my_classes.empty? %>
                        <% if current_user.is_student? %>
                            <div class="nodata"> Not enrolled in any classes.</div>
                        <% else %>
                            <div class="nodata"> Not teaching any classes.</div>
                        <% end %>
                    <% else %>
                        <% @my_classes.each_with_index do |c, index| %>
                        <div class="tile-container <%= 'hidden_course' if index > 11 %>" id="my_course_<%= index %>">
                            <a class="mysectionlink" href="/schools/<%= @school.object_id %>/classes/<%= c.object_id %>">
                                <div class="tile">
                                    <h5><%= c.display_name %></h5>
                                    <h2><%= c.combined_course_number %></h2>
                                </div>
                            </a>
                            <div class="detail">
                                <h5>Course Id:</h5>
                                <h6><%= c.course_id %></h6>
                                <h5>Description:</h5>
                                <h6><%= c.course_description %></h6>
                                <h5>Teachers:</h5>
                                <h6>
                                    <% c.teachers.each do |t| %>
                                        <%= t.display_name %>
                                    <% end %>
                                </h6>
                                <h5>Term Name:</h5>
                                <h6><%= c.term_name %></h6>
                                <h5>Start/Finish Date:</h5>
                                <h6>
                                    <span id="termdate"><%= Date.strptime(c.term_start_date, '%m/%d/%Y').to_s %></span>
                                    <span> - </span>
                                    <span id="termdate"><%= Date.strptime(c.term_end_date, '%m/%d/%Y').to_s %></span>
                                </h6>
                                <h5>Period:</h5>
                                <h6><%= c.period %></h6>
                            </div>
                        </div>
                        <% end %>
                        <% if @my_classes.count > 12 %>
                            <div class="seemore" id="my-see-more" data-index=12 data-count=<%= @myclasses.count %>>
                                <span>See More</span>
                            </div>
                        <% end %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>

<%= javascript_include_tag 'sections' %>
