<!-- Copyright (c) Microsoft Corporation. All rights reserved. Licensed under the MIT license. -->
<!-- See LICENSE in the project root for license information. -->

<%= content_for :title, 'Class Details - EDUGraphAPI' %>

<% content_for :header_list do %>
  <%= render 'common/header_list', school: @school %>
<% end %>

<% content_for :user_login_info do %>
    <%= render 'common/user_login_info' %>
<% end %>

<div class="row schools class-details">
    <div class="tophero">
        <div class="container">
            <div class="col-md-6 secondnav">
                <a href="/schools"> All Schools</a>
                > <a href='/schools/<%= @school.id %>/classes'><%= @school.display_name %></a>
                > <%= @class.display_name %>
            </div>
        </div>
        <div class="container">
            <div class="a-heading ">Class Details</div>
            <div class="b-title"><%= @class.code %> | <%= @class.display_name %></div>
        </div>
        <div class="container coursedetail">
            <div class="col-md-6">
                <span>Term Name:</span> <%= @class.term.display_name %>
                <br />
                <span>Start/Finish Date:</span>
                <span id="termdate"><%= @class.term.start_date %></span>
                <span id="termdate-separator"> - </span>
                <span id="termdate"><%= @class.term.end_date %></span>
            </div>
            <div class="col-md-6">
                <span>Teacher:</span> 
                <% @class.teachers.each_with_index do |teacher, index| %>
                    <% if index < @class.teachers.count - 1%>
                        <span class="coteacher-name"><%= teacher.display_name %>, </span>
                    <% else %>
                        <span class="coteacher-name"><%= teacher.display_name %></span>
                    <% end %>
                <% end %>
                <% if current_user.is_teacher? %>
                    <a id="addateacher" href="javascript:void(0)">Add a teacher</a>
                <% end %>
            </div>
            <% if current_user.is_teacher? %>
                <div class="schoolteachers">
                    <div class="close"><img src="/Images/close.png"></div>
                    <div class="title">Select a teacher</div>
                    <div class="list">
                        <% if @schoolTeachers.empty? %>
                            <div > There is no data available at this time.</div>
                        <% else %>
                            <ul>
                                <% @schoolTeachers.each do |teacher| %>
                                    <li>
                                        <a data-userid="<%= teacher.id %>" data-url="<%= "/schools/#{@school.id}/classes/#{@class.id}/add_coteacher" %>" href="javascript:void(0)" class="addcoteacher">
                                        <img src="/images/header-default.jpg" realheader="/users/<%= teacher.id %>/photo" /> <%= teacher.display_name %>
                                        </a>
                                    </li>
                                <% end %>
                            </ul>
                        <% end %>
                    </div>
                </div>
            <% end %>
        </div>
        <div style="clear:both;"></div>
    </div>
    <div class="students">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#students"><span>Students</span></a></li>
            <li><a data-toggle="tab" href="#assignments"><span>Assignments</span></a></li>
            <li><a data-toggle="tab" href="#documents" id="classdoclink"><span>Class Documents</span></a></li>
            <li><a data-toggle="tab" href="#conversations"><span>Conversations</span></a></li>
            <li><a data-toggle="tab" href="#seatingchart"><span>SEATING CHART</span></a></li>
        </ul>
        <div class="tab-content">
            <div id="students" class="tab-pane fade in active">
                    <table class="table table-green table-student tablesorter" id="studentsTable">
                        <thead>
                            <tr class="table-green-header">
                                <th class="tdleft">student name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% @class.students.each do |student| %>
                                <tr class="tr-content">
                                    <td>
                                        <img src="/images/header-default.jpg" realheader="/users/<%= student.id %>/photo" /> 
                                        <%= student.display_name %> 
                                    </td>
                                </tr>
                            <% end %>    
                        </tbody>
                    </table>
            </div>
            <div id="assignments" class="tab-pane fade">
                <% if not(current_user.is_student?)%>
                    <div class="addassignment"><a href="javascript:void(0)"> + New</a></div>
                <% end %>
                <div id="assignmentslist">
                    <% if @assignments.empty? %>
                        <div class="nodata"> There is no data available for this page at this time.</div>
                    <% else %>
                        <table class="table  table-green table-student ">
                            <thead>
                                <tr class="table-green-header">
                                    <th class="header">Name</th>
                                    <th class="header">Due Date</th>
                                    <th class="header">Status</th>
                                    <th class="header">Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% @assignments.each do |assignment| %>
                                    <tr class="tr-content">
                                        <td><%= assignment.display_name %></td>
                                        <td>
                                         <% if assignment.due_dateTime and not(assignment.due_dateTime.empty?)%>
                                            <%= DateTime.parse(assignment.due_dateTime).getlocal.strftime('%m/%d/%Y')%>
                                         <% end %>
                                        </td>
                                        <td>
                                            <%= assignment.status%>
                                        </td>
                                        <td>
                                            <a class="detaillink" 
                                                data-status="<%=  assignment.status%>" 
                                                data-id="<%= assignment.id %>" 
                                                data-dueDate="
                                                <% if assignment.due_dateTime and not(assignment.due_dateTime.empty?)%>
                                                    <%= DateTime.parse(assignment.due_dateTime).getlocal.strftime('%m/%d/%Y') %>
                                                <% end %>
                                                "
                                                data-title="<%= assignment.display_name %>" 
                                                data-allowlate="<% assignment.allow_lateSubmissions %>" 
                                                href="javascript:void(0)">Details</a>
                                                <% if not(current_user.is_student?)%>
                                                    <span>|</span>
                                                    <a href="javascript:void(0)" 
                                                        class="submissionslink"  
                                                        data-status="<%= assignment.status %>" 
                                                        data-id="<%= assignment.id %>" 
                                                        data-dueDate="
                                                        <% if assignment.due_dateTime and not(assignment.due_dateTime.empty?)%>
                                                            <%= DateTime.parse(assignment.due_dateTime).getlocal.strftime('%m/%d/%Y') %>
                                                        <% end %>
                                                        "
                                                        data-title="<%= assignment.display_name %>" > Submissions</a>
                                                <% end %>
                                        </td>
                                    </tr>
                                <% end %>
                            </tbody>
                        </table>
                    <% end %>
                </div>
                <div class="modal fade"id="new-assignment" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="alert alert-danger assignment-alert">
                                <a href="#" class="close" data-dismiss="alert">&times;</a>
                                <span></span>
                            </div>

                            <div class="modal-body">
                                <form action="/classes/newassignment" enctype="multipart/form-data" class="form-horizontal" method="post" role="form" id = "new-assignment-form">
                                    <input id="classId" name="classId" type="hidden" value="<%= @class.id %>" />
                                    <input id="status" name="status" type="hidden" />
                                    <input type="hidden" name="schoolId" id="schoolId" value="<%= @school.id %>" />
                                    <fieldset>
                                        <label>Name</label>
                                        <input type="text" name="name" id="name" value="" class="text ui-widget-content ui-corner-all">
                                        <br />
                                        <label>Due Date</label>
                                        <input type="text" id="duedate" name="duedate" value="" class="text ui-widget-content ui-corner-all">
                                        <select class="ui-widget-content ui-corner-all" id="duetime" name="duetime">
                                                <option>12:00 AM</option>
                                                <option>12:30 AM</option>
                                                <option>1:00 AM</option>
                                                <option>1:30 AM</option>
                                                <option>2:00 AM</option>
                                                <option>2:30 AM</option>
                                                <option>3:00 AM</option>
                                                <option>3:30 AM</option>
                                                <option>4:00 AM</option>
                                                <option>4:30 AM</option>
                                                <option>5:00 AM</option>
                                                <option>5:30 AM</option>
                                                <option>6:00 AM</option>
                                                <option>6:30 AM</option>
                                                <option>7:00 AM</option>
                                                <option>7:30 AM</option>
                                                <option>8:00 AM</option>
                                                <option>8:30 AM</option>
                                                <option>9:00 AM</option>
                                                <option>9:30 AM</option>
                                                <option>10:00 AM</option>
                                                <option>10:30 AM</option>
                                                <option>11:00 AM</option>
                                                <option>11:30 AM</option>
                                                <option>12:00 PM</option>
                                                <option>12:30 PM</option>
                                                <option>1:00 PM</option>
                                                <option>1:30 PM</option>
                                                <option>2:00 PM</option>
                                                <option>2:30 PM</option>
                                                <option>3:00 PM</option>
                                                <option>3:30 PM</option>
                                                <option>4:00 PM</option>
                                                <option>4:30 PM</option>
                                                <option>5:00 PM</option>
                                                <option>5:30 PM</option>
                                                <option>6:00 PM</option>
                                                <option>6:30 PM</option>
                                                <option>7:00 PM</option>
                                                <option>7:30 PM</option>
                                                <option>8:00 PM</option>
                                                <option>8:30 PM</option>
                                                <option>9:00 PM</option>
                                                <option>9:30 PM</option>
                                                <option>10:00 PM</option>
                                                <option>10:30 PM</option>
                                                <option>11:00 PM</option>
                                                <option>11:30 PM</option>
                                                <option>11:59 PM</option>
                                            </select>
                                            <br />
                                            <div class="uploadcontainer">
                                                <label>Resources</label>
                                                <div id="uploaders">
                                                    <input type="file" id="fileToUpload" name="fileUpload[]" multiple/>
                                                </div>
                                            </div>
                                            <br />
                                            <span id="spnFile" style="color: #FF0000"></span>
                                            <div class="control-section" style="padding: 0px;">
                                                <div id="selectedFiles"></div>
                                            </div>
                                    </fieldset>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary btn-cancel" data-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-primary btn-save">Save As Draft</button>
                                <button type="button" class="btn btn-primary btn-publish">Assign</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade assignment-detail-modal" id="assignment-detail-form" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="alert alert-danger assignment-alert">
                                <a href="#" class="close" data-dismiss="alert">&times;</a>
                                <span></span>
                            </div>
                            <% if not(current_user.is_student?)%>
                                <form action="/classes/updateassignment" enctype="multipart/form-data" class="form-horizontal" method="post" role="form" id = "assignment-detail-form-teacher">
                                    <input name="schoolId" type="hidden" value="<%= @school.id %>" />
                                    <input name="classId" type="hidden" value="<%= @class.id %>" />
                                    <input name="assignmentId" type="hidden" />
                                    <input name="assignmentOriginalStatus" type="hidden" />
                                    <input name="assignmentStatus" type="hidden" />

                                    <div class="modal-body">
                                        <div><h5 class="assignment-title"></h5></div>
                                        <div><h5 class="due-date"></h5></div>
                                        
                                        <div class="row resource-upload">
                                            <h5 class="resources-title col-md-8"></h5>
                                            <button type="button" class="btn btn-primary btn-new">+ New</button>
                                            <input type="file" id="newResourceFileCtrl" name="newResource[]" class="hidden" multiple>
                                        </div>
                                        <ul class="resource-list"></ul>
                                    </div>
                                </form>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary btn-cancel" data-dismiss="modal">Cancel</button>
                                    <button type="button" class="btn btn-primary btn-save">Save</button>
                                    <button type="button" class="btn btn-primary btn-publish">Assign</button>
                                    <button type="button" class="btn btn-primary btn-update">Update</button>
                                </div>
                            <% else %>
                                <form action="/classes/newassignmentsubmissionresource" enctype="multipart/form-data" class="form-horizontal" method="post" role="form" id = "assignment-detail-form-student">
                                    <input name="schoolId" type="hidden" value="<%= @school.id %>d" />
                                    <input name="classId" type="hidden" value="<%= @class.id %>" />
                                    <input name="assignmentId" type="hidden" />
                                    <input name="submissionId" type="hidden" />
                                    <input name="submissionResourcesFolderUrl" type="hidden" />

                                    <div class="modal-body">
                                        <div><h5 class="assignment-title"></h5></div>
                                        <div><h5 class="due-date"></h5></div>
                                        <div><h5 class="allow-late"></h5></div>
                                        <div class="row">
                                            <h5 class="resources-title col-md-8"></h5>
                                        </div>
                                        <ul class="resource-list"></ul>
                                        <div class="row resource-upload">
                                            <h5 class="handin-title col-md-8"></h5>
                                            <button type="button" class="btn btn-primary btn-upload">Upload</button>
                                            <input type="file" id="newResourceFileCtrl" name="newResource[]" class="hidden" multiple>
                                        </div>
                                        <ul class="handin-list"></ul>
                                    </div>
                                </form>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary btn-cancel" data-dismiss="modal">Cancel</button>
                                    <button type="button" class="btn btn-primary btn-submit">Submit</button>
                                </div>
                            <% end %>
                        </div>
                   </div>
                </div>
                 <div class="modal fade assignment-detail-modal" id="assignment-submissions-form" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <div><h3>Assignment Submissions</h3></div>
                                <div><h5 class="assignment-title"></h5></div>
                                <div><h5 class="due-date"></h5></div>
                                <div class="row">
                                    <table class="table resource-list" id="assignment-submissions-table">
                                        <thead>
                                            <tr>
                                                <th>Submitted by</th>
                                                <th>Submitted On</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary btn-update" data-dismiss="modal">Return to Assignments</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="documents" class="tab-pane fade">
                <% if @documents.count > 0 %>
                    <table id="studoc" class="table  table-green table-student tablesorter">
                        <thead>
                            <tr class="table-green-header">
                                <th class="border-holder"></th>
                                <th class="space-holder left"></th>
                                <th class="tdleft">document name</th>
                                <th class="tdleft">modified</th>
                                <th class="tdleft">modified by</th>
                                <th class="space-holder right"></th>
                            </tr>
                            <tr class="blanktr">
                                <th colspan="5"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% @documents.each do |document| %>
                            <tr class="tr-content">
                                <td class="border-holder"></td>
                                <td class="space-holder left"></td>
                                <td>
                                    <a target="_blank" href="<%= document.web_url %>"><%= document.name %></a>
                                </td>
                                <td><%= document.last_modified_date_time %></td>
                                <td><%= document.last_modified_by.user.display_name %></td>
                                <td class="space-holder right"></td>
                            </tr>
                            <% end %>
                        </tbody>
                    </table>
                <% else %>
                    <div class="nodata"> There is no data available for this page at this time.</div>
                <% end %>
                <span class="see-more"><a href="<%= @documents_web_url %>" target="_blank">See More</a></span>
                <br style="clear:both" />
            </div>
            <div id="conversations" class="tab-pane fade">
                    <table id="stuconv" class="table  table-green table-student">
                        <tbody>
                            <% @conversations.each do |conversation| %>
                                <tr class="tr-content">
                                    <td class="border-holder"></td>
                                    <td class="space-holder left"></td>
                                    <td>
                                        <a target="_blank" href="https://outlook.office.com/owa/?path=/group/<%= @class.mail_nickname %>/mail&exsvurl=1&ispopout=0&ConvID=<%= conversation.id %>"><%= conversation.topic %></a>
                                    </td>
                                    <td class="space-holder right"></td>
                                </tr>
                            <% end %>
                        </tbody>
                    </table>
                <span class="see-more"><a target="_blank" href="https://outlook.office.com/owa/?path=/group/<%= @class.mail_nickname %>/mail&amp;exsvurl=1&amp;ispopout=0">See More</a></span>
                <br style="clear:both" />
            </div>

            <% if current_user.is_teacher? %>
            <div id="seatingchart" class="tab-pane fade">
                <div id="saveResult" style="display: none;"><div>Seating map changes saved.</div></div>
                <div class="left" id="dvleft">
                        <div class="tip"> To assign seats for each student, drag and drop student profile icons below onto the seating map to the right.</div>
                    <ul id="lstproducts">
                        <% @class.students.each do |student| %>
                        <li id="<%= student.id %>">
                            <img src="/images/header-default.jpg" realheader="/users/<%= student.id %>/photo" />
                            <span class="disname"> <%= student.display_name %> </span>
                            <span class="seated <%= 'hideitem' unless student.custom_data[:position] %>">seated ✓</span>
                        </li>
                        <% end %>
                    </ul>
                    <div id="hidtiles" class="hideitem">
                        <% @class.students.select{|s| !s.custom_data[:position]  }.each do |student| %>
                        <div class="deskcontainer unsaved" style="<%= 'background-color: ' + student.custom_data[:favorite_color] if student.custom_data[:favorite_color] %>" position="0" userid="<%= student.id %>">
                            <div class="deskclose"><img src="/Images/close.png"></div>
                            <div class="deskicon">
                                <img src="/images/header-default.jpg" realheader="/users/<%= student.id %>/photo" />
                            </div>
                            <div class="stuname"><%= student.display_name %></div>
                        </div>
                        <% end %>
                    </div>
                </div>
                <div class="right" id="dvright">
                    <div class="teacherdesk" style="background-color: <%= @teacher_favorite_color || '#2F19FF' %>">Teacher's desk</div>
                    <div>
                        <div id="graybg">
                            <% (1..36).each do |index| %>
                                <% if student = @class.students.detect {|s| s.custom_data[:position] == index } %>
                                <div class="desktile" position="<%= index %>">
                                    <div class="deskcontainer white" style="<%= 'background-color: ' + student.custom_data[:favorite_color] if student.custom_data[:favorite_color] %>" position="<%= index %>" userid="<%= student.id %>">
                                        <div class="deskclose" style="display: none;"><img src="/Images/close.png"></div>
                                        <div class="deskicon">
                                            <img src="/Images/header-default.jpg" realheader="/users/<%= student.id%>/photo">
                                        </div>
                                    <div class="stuname"><%= student.display_name %></div>
                                    </div>
                                </div>
                                <% else %>
                                    <div class="desktile" position="<%= index %>"></div>
                                <% end %>
                            <% end %>
                        </div>
                    </div>
                </div>
                <div id="dvedit" class="dvedit">
                        <img id="imgedit" src="/Images/edit.png" style="">
                        <img id="imgsave" data-url="<%= "/schools/#{@school.id}/classes/#{@class.id}/save_seating_positions" %>" src="/Images/save.png" style="display: none;">
                        <img id="imgcancel" src="/Images/cancel.png" style="display: none;">
                </div>
                <br style="clear:both">
            </div>
            <% else %>
            <div id="seatingchart" class="tab-pane fade ">
                <div class="left" id="dvleft">
                        <div class="assignseat tip"><div class="greenicon" style="background-color:#2F19FF"></div>Your assigned seat </div>
                    <ul id="lstproducts">
                        <% @class.students.each do |student| %>
                        <li id="<%= student.id %>">
                            <img src="/images/header-default.jpg" realheader="/users/<%= student.id %>/photo" />
                            <span class="disname"> <%= student.display_name %> </span>
                            <span class="seated <%= 'hideitem' unless student.custom_data[:position] %>">seated ✓</span> 
                        </li>
                        <% end %>
                    </ul>
                </div>
                <div class="right" id="dvright">
                    <div class="teacherdesk" style="">Teacher's desk</div>
                    <div>
                        <div id="graybg">
                            <% (1..36).each do |index| %>
                                <% if student = @class.students.detect {|s| s.custom_data[:position] == index } %>
                                <div class="desktile" position="<%= index %>">
                                    <div class="deskcontainer white" style="<%= 'background-color: ' + student.custom_data[:favorite_color] if student.custom_data[:favorite_color] %>" position="<%= index %>" userid="<%= student.id %>">
                                        <div class="deskclose"><img src="/Images/close.png"></div>
                                        <div class="deskicon">
                                            <img src="/Images/header.png" realheader="/users/<%= student.id %>/photo">
                                        </div>
                                    <div class="stuname"><%= student.display_name %></div>
                                    </div>
                                </div>
                                <% else %>
                                    <div class="desktile" position="<%= index %>"></div>
                                <% end %>
                            <% end %>
                        </div>
                    </div>
                </div>
                <div id="dvedit" class="dvedit">
                </div>
                <br style="clear:both" />
            </div>
            <% end %>
        </div>
    </div>
</div>
<input type="hidden" name="hidSectionid" id="hidSectionid" value="<%= @class.id %>" />
<input type="hidden" name="hideIsStudent" id="hideIsStudent" value="<%= current_user.is_student?%>" />

<%= javascript_include_tag "jquery.tablesorter.min", "jquery-ui","classdetail", "assignments" %>