<!-- Copyright (c) Microsoft Corporation. All rights reserved. Licensed under the MIT license.  
See LICENSE in the project root for license information.   -->

<%= content_for :title, 'ALL SCHOOLS - EDUGraphAPI' %>

<% content_for :header_list do %>
  <%= render 'common/header_list', school: @school %>
<% end %>

<% content_for :user_login_info do %>
	<%= render 'common/user_login_info' %>
<% end %>

<% unless current_user.are_linked? %>
  <br />
  <p>You will need to link your O365 and local accounts in order to use the functionality of this demo application. Please click on the browser 'Back' button to go back and link your existing local account or create a local account.</p>
<% else %>

<% if flash[:notice] %>
  <div class="message-container bg-success">
      <p><%= flash[:notice] %></p>
  </div>
<% end %>

<div class="row schools">
  <div class="tophero">
      <div class="col-md-6">
          <div class="a-heading schoolname">ALL SCHOOLS</div>
      </div>
      <div class="col-md-6 schooltiles">
        <% if @me.education_object_type %>
      	<div class="infocontainer">
            <div class="infoheader">
							<%= @me.education_object_type %> ID
            </div>
            <div class="infobody"><%= @me.education_user_id %></div>
        </div>
        <% end %>
      </div>
      <div class="container myschool">
          <div class="schoolenrolled">Current school(s) enrolled</div>
          <div class="greenicon"></div>
      </div>
      <div style="clear:both;" />
  </div>
      <% if @schools.blank? %>
        <div class="nodata">There is no data available for this page at this time.</div>
      <% else %>
      <table class="table  table-green table-schools">
          <tr class="table-green-header">
              <th class="tdleft">School Name</th>
              <th>Principal</th>
              <th>Grade Levels</th>
              <th>Address</th>
              <th></th>
          </tr>
					<% @schools.each do |school| %>
          <tr class="tr-content <%= 'td-green' if school.school_id == @me.school_id %>">
              <td><%= school.display_name %></td>
              <td><%= school.principal_name || '-' %></td>
              <td><%= school.lowest_grade %> - <%= school.highest_grade %></td>
              <td>
                  <div class="schooladdress">
                    <% if school.address.present? %>
                      <%= school.address %><br />
											<%= school.city %>, <%= school.state %> <%= school.zip %>
                    <% else %>
                      -
                    <% end %>
                  </div>
                  <div class="schoolmap">
                    <% if school.address.present? %>
                      <% location = school.custom_data[:location] %>
                      <a class="bingMapLink" lat="<%= location[:latitude] %>" lon="location[:longitude] %>" href="javascript:void(0)">
                      <img src="<%= school.number == @me.school_id ? '/Images/icon-map_30x28px-WHT.png' : '/Images/icon-map_30x28px-BLU.png' %>" /></a>
                    <% end %>
                  </div>
              </td>
              <td>
                  <a class="btnlink" href="/schools/<%= school.object_id %>/classes">Classes</a>
                  <a class="btnlink" href="/schools/<%= school.object_id %>/users">Teachers/students</a>
              </td>
          </tr>
          <% end %> 
      </table>
      <% end %> 
</div>
<div id='myMap'></div>
<input type="hidden" name="BingMapKey" id="BingMapKey" value="<%= Settings.BingMapKey %>" />
<script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol' async defer></script>
<%= javascript_include_tag "schools" %>

<% end %>